# **Introduction**

In this project, our team is using a Car Price Prediction dataset from Kaggle to help a new automobile company compete with established manufacturers. This section of the project focuses on designing and implementing an ETL pipeline to effectively process and utilize the data.

## **ETL**

## Objectives

* Import raw Kaggle data from CSV file, investigate errors in dataset, correct errors, and load it into an amended CSV for visualisations

## Inputs

* Raw CSV file from dataset

## Outputs

* Cleaned CSV file to use in visualisation stage

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [ ]:
import os
os.chdir(r'c:\Users\Eddie\Documents\CodeInstitute Workspace\IndividualFormativeProject\CodeInstituteFirstProject\Jupyter_Notebooks')
current_dir = os.getcwd()
current_dir

:

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [ ]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

We will be working with numbers and arrays and therefore the Numpy library is extremely useful in Python. To load a CSV file with Python, the Pandas library is essential. It has a specific function that reads CSV files by parsing the file path. We will import both libraries in the Jupyter Notebook.

In [ ]:
import pandas as pd
import numpy as np

Confirm the new current directory

In [ ]:
current_dir = os.getcwd()
current_dir

# Data Extraction

Retrieve the raw data from a CSV file. It is also possible to extract data as an Excel file. This has been demonstrated in the code below. The first 10 rows of the dataset can be viewed using the `.head()` function.

In [ ]:
df_CarPriceCSV = pd.read_csv('Data/KaggleCarArchive/originals backups/CarPrice_Assignment.csv')
df_CarPriceXLSX = pd.read_excel('Data/KaggleCarArchive/originals backups/Data Dictionary - carprices.xlsx')
#allow preliminary inspection
print(df_CarPriceCSV.head(10))
print(df_CarPriceXLSX.head(10))

## DataFrame Information

Before cleaning the data, we first gather information about the dataset to understand what requires cleaning and what does not.
Our approach involves using various methods to gather information, including the following:
- `.info()` method to inspect your data, in terms of the index type, range and amount of columns and their data types and missing data values. You can also check the DataFrame memory usage level.

In [ ]:
df_CarPriceCSV.info()

- `.shape` method to get the shape (number of rows and columns) of the DataFrame

In [ ]:
df_CarPriceCSV.shape

- `.columns` method to get the name of the features (columns) of the DataFrame

In [ ]:
df_CarPriceCSV.columns

- `.dtypes` method to get datatypes of the values in the DataFrame

In [ ]:
df_CarPriceCSV.dtypes

# Data Cleanup

Cleanup - empty values, misspellings, Capitalise brand names etc.

In [32]:
#check for missing values
df_CarPriceCSV[df_CarPriceCSV.isna().any(axis=1)]

#missing values not found so progress

#split car name into brand and model

def split_brand_model(carname):
    parts = carname.split(' ', 1)
    brand = parts[0]
    model = parts[1] if len(parts) > 1 else ''
    return brand, model

df_SplitBrandModel = df_CarPriceCSV['CarName'].apply(split_brand_model).apply(pd.Series)
type(df_SplitBrandModel)
df_SplitBrandModel.columns = ['Brand', 'Model']

#ensures that brand and model columns are added to the front of the dataframe
df_CarPriceCSV.insert(0, 'carBrand', df_SplitBrandModel['Brand'])
df_CarPriceCSV.insert(1, 'carModel', df_SplitBrandModel['Model'])
df_CarPriceCSV.head(50)

#find and correct any spelling mistakes in car brands
df_CarPriceCSV['carBrand'].value_counts()

spellingMistakes = {
    'maxda': 'Mazda',
    'nissan': 'Nissan',
    'porcshe': 'Porsche',
    'porcshce': 'Porsche',
    'toyouta': 'Toyota',
    'vokswagen': 'Volkswagen',
    'vw': 'Volkswagen',
    'alfa-romero': 'Alfa-Romeo',
}

df_CarPriceCSV['carBrand'] = df_CarPriceCSV['carBrand'].replace(spellingMistakes)

#capitalise car brand names
df_CarPriceCSV['carBrand'] = df_CarPriceCSV['carBrand'].apply(lambda row: row.capitalize())

#check corrections
df_CarPriceCSV['carBrand'].value_counts()

df_CarPriceCSV.drop(columns=['CarName'], inplace=True)

df_CarPriceCSV.head(20)

,carBrand,carModel,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,Alfa-romeo,giulia,1,3,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.000
1,Alfa-romeo,stelvio,2,3,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.000
2,Alfa-romeo,Quadrifoglio,3,1,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.000
3,Audi,100 ls,4,2,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.000
4,Audi,100ls,5,2,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.000
5,Audi,fox,6,2,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.000
6,Audi,100ls,7,1,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.000
7,Audi,5000,8,1,gas,std,four,wagon,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920.000
8,Audi,4000,9,1,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.000
9,Audi,5000s (diesel),10,0,gas,turbo,two,hatchback,4wd,front,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,17859.167
10,Bmw,320i,11,2,gas,std,two,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430.000
11,Bmw,320i,12,0,gas,std,four,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925.000
12,Bmw,x1,13,0,gas,std,two,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970.000
13,Bmw,x3,14,0,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105.000
14,Bmw,z4,15,1,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565.000
15,Bmw,x4,16,0,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760.000
16,Bmw,x5,17,0,gas,std,two,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315.000
17,Bmw,x3,18,0,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880.000
18,Chevrolet,impala,19,2,gas,std,two,hatchback,fwd,front,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151.000
19,Chevrolet,monte carlo,20,1,gas,std,two,hatchback,fwd,front,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295.000

The datatypes in the dataset were also checked for appropriateness

In [33]:
df_CarPriceCSV.dtypes

carBrand             object
carModel             object
car_ID                int64
symboling             int64
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

Symboling is an insurance risk score for the vehicle, typically the values are integers between -3 and 3. The min value is -2 and the max value is 3.
The symboling scores are categorical values and not continuous values, therefore, we can change the data into categorical.

In [34]:
df_CarPriceCSV['symboling'] = df_CarPriceCSV['symboling'].astype('category')
df_CarPriceCSV.dtypes

carBrand              object
carModel              object
car_ID                 int64
symboling           category
fueltype              object
aspiration            object
doornumber            object
carbody               object
drivewheel            object
enginelocation        object
wheelbase            float64
carlength            float64
carwidth             float64
carheight            float64
curbweight             int64
enginetype            object
cylindernumber        object
enginesize             int64
fuelsystem            object
boreratio            float64
stroke               float64
compressionratio     float64
horsepower             int64
peakrpm                int64
citympg                int64
highwaympg             int64
price                float64
dtype: object

---

# Check Other Columns

Check for all other categorical data columns

In [35]:
#check data types are correct now
df_CarPriceCSV.dtypes

for col in df_CarPriceCSV.select_dtypes(include=['object']).columns:
    print(f"Column: {col}")
    print(df_CarPriceCSV[col].value_counts())
    print("\n")

#no other columns had incorrect data

Column: carBrand
carBrand
Toyota        32
Nissan        18
Mazda         17
Mitsubishi    13
Honda         13
Subaru        12
Volkswagen    12
Volvo         11
Peugeot       11
Dodge          9
Buick          8
Bmw            8
Audi           7
Plymouth       7
Saab           6
Porsche        5
Isuzu          4
Alfa-romeo     3
Chevrolet      3
Jaguar         3
Renault        2
Mercury        1
Name: count, dtype: int64


Column: carModel
carModel
corolla          6
corona           6
504              6
dl               4
glc deluxe       3
                ..
model 111        1
rabbit custom    1
245              1
diesel           1
246              1
Name: count, Length: 142, dtype: int64


Column: fueltype
fueltype
gas       185
diesel     20
Name: count, dtype: int64


Column: aspiration
aspiration
std      168
turbo     37
Name: count, dtype: int64


Column: doornumber
doornumber
four    115
two      90
Name: count, dtype: int64


Column: carbody
carbody
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: count, dtype: int64


Column: drivewheel
drivewheel
fwd    120
rwd     76
4wd      9
Name: count, dtype: int64


Column: enginelocation
enginelocation
front    202
rear       3
Name: count, dtype: int64


Column: enginetype
enginetype
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: count, dtype: int64


Column: cylindernumber
cylindernumber
four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: count, dtype: int64


Column: fuelsystem
fuelsystem
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: count, dtype: int64

# Check Other Categorical Data Columns

value counts to check for misspellings etc.

In [36]:

df_CarPriceCSV.info

pd.set_option('display.max_rows', None)
print(df_CarPriceCSV['carModel'].value_counts())
#pd.set_option('display.max_rows', 20)

carModel
corolla                      6
corona                       6
504                          6
dl                           4
glc deluxe                   3
g4                           3
626                          3
mirage g4                    3
dasher                       3
civic                        3
rabbit                       3
mark ii                      3
outlander                    3
100ls                        2
corolla liftback             2
144ea                        2
145e (sw)                    2
264gl                        2
244dl                        2
tercel                       2
starlet                      2
                             2
fury iii                     2
rx-7 gs                      2
glc                          2
x3                           2
320i                         2
latio                        2
accord                       2
civic cvcc                   2
99gle                        2
cayenne                      2
99e                          2
99le                         2
604sl                        2
rx-4                         2
clipper                      2
corolla 1200                 2
D-Max                        2
rogue                        2
Quadrifoglio                 1
stelvio                      1
giulia                       1
4000                         1
100 ls                       1
fox                          1
x4                           1
z4                           1
x1                           1
5000s (diesel)               1
5000                         1
rx3                          1
rx2 coupe                    1
MU-X                         1
accord lx                    1
skyhawk                      1
xf                           1
xk                           1
xj                           1
D-Max V-Cross                1
civic (auto)                 1
x5                           1
accord cvcc                  1
coronet custom (sw)          1
coronet custom               1
dart custom                  1
civic 1300                   1
prelude                      1
civic 1500 gl                1
impala                       1
monaco (sw)                  1
d200                         1
colt hardtop                 1
colt (sw)                    1
rampage                      1
challenger se                1
monte carlo                  1
vega 2300                    1
nv200                        1
note                         1
juke                         1
leaf                         1
titan                        1
pajero                       1
versa                        1
gt-r                         1
lancer                       1
montero                      1
opel isuzu deluxe            1
skylark                      1
century special              1
regal sport coupe (turbo)    1
cougar                       1
mirage                       1
century luxus (sw)           1
electra 225 custom           1
glc custom                   1
glc custom l                 1
glc 4                        1
century                      1
fury gran sedan              1
valiant                      1
duster                       1
304                          1
504 (sw)                     1
dayz                         1
teana                        1
kicks                        1
otti                         1
fuga                         1
trezia                       1
r2                           1
r1                           1
baja                         1
brz                          1
panamera                     1
5 gtl                        1
12tl                         1
macan                        1
boxter                       1
505s turbo diesel            1
cricket                      1
satellite custom (sw)        1
corolla 1600 (sw)            1
carina                       1
corona mark ii               1
cressida                     1
corona liftback              1
celica gt liftback           1
corolla tercel               1
tribeca                      1
corona hardtop               1
1131 deluxe sedan            1
celica gt                    1
super beetle                 1
411 (sw)                     1
type 3                       1
model 111                    1
rabbit custom                1
245                          1
diesel                       1
246                          1
Name: count, dtype: int64

## Loading

Export the cleaned DataFrame to a new CSV file for downstream analysis or modeling.

### Save DataFrame as CSV

Use pandas `.to_csv()` to export the cleaned DataFrame to a new file location.

In [37]:
# Export the cleaned DataFrame to a new CSV file
output_path = 'Data/KaggleCarArchive/CarPrice_Working.csv'
df_CarPriceCSV.to_csv(output_path, index=False)
print(f"DataFrame exported to {output_path}")

DataFrame exported to Data/KaggleCarArchive/CarPrice_Working.csv

---

## Summary

- Changed work directory
- Extracted data
- Collected information about the data
- Cleaned data (missing values, misspellings, capitalise names)
- Checked for appropriatness of the datatypes
- Exported the cleaned data to a new CSV file